.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
  .modal__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .modal__button {
    background-color: #e51c23;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  